{% extends "base.html" %} 
{% load static %} 

{% block extra_title %}|Home{% endblock %}

{% block content %}
  <!-- Jumbotron-->
  <div class="container-fluid front-container">
    <div class="row mb-sm-5">
      <div class="jumbotron bg-light-brown p-4 mx-2">
        <h1 class="display-5 logo-font text-black">
          Get your best tasting coffee here
        </h1>
        <div class="my-3 text-center">
          <a
            href="{% url 'products' %}"
            class="btn btn-light btn-lg font-weight-bold text-uppercase py-3"
            >Shop Now</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- Testimonials section -->
  <div class="container-fluid text-black  bg-platinum">
    <h2 class="text-center">Customers testimonials</h2>
    <div class="col-12 mt-3 left">
      <div class="row my-flex-card">
          {% for testimonial in testimonials %}
              <div class="col-sm-12 col-lg-4">
                  <div class="card mb-4">
                      <div class="card-body rounded text-black pb-1">
                          <div class="h-50">
                              <h2 class="card-title text-black">{{ testimonial.title|safe|striptags|truncatechars:20 }}</h2>
                              <div class="text-black text-decoration-none">
                                  <p>{{ testimonial.content|safe|striptags|truncatechars:40}}</p>
                              </div>
                          </div>
                          <hr>
                          <p class="text-muted small p-0 m-0">Created: {{ testimonial.created}}</p>
                          <p class="text-muted small p-0">Author: {{ testimonial.author}}</p>
                      </div>
                  </div>
              </div>
          {% endfor %}
      </div>
  </div>
  </div>
{% endblock %}
