/* Generic */
html {
    height: 100%;
    
}

body {
    height: 100vh;
    background-color: #E9EBEC;
    font-family: 'Bungee+Shade';
}

/* Navigation */

.bg-platinum {
    background-color:#E9EBEC;
}

.bg-light-brown {
    background-color:#A9A6A4;
}

.bg-black {
    background: #000 !important;
}

#topnav h1 {
    font-size: 1.7rem;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.btn-brown {
    background: #544B46;
    color: white;
}

.btn-black {
    background: black;
    color: white;
    border-radius: 0.3rem;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
    border-radius: 0.3rem;
}

.btn-light:hover,
.btn-light:active,
.btn-light:focus,
.btn-brown:hover,
.btn-brown:active,
.btn-brown:focus {
    background: #665E58;
    color: white;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.nav-link {
    padding: 0.15rem;
}

.navbar-toggler {
    padding: .6rem .6rem;
    font-size: 1rem;
}

#delivery-banner h4 {
    font-size: .9rem;
}


/* Main content */
.front-container {
    height: 100vh;
    background: url('/media/coffee.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.main-container {
    height: 100vh;
    padding-top: 130px;
}

/* Footer */
.social-links:hover {
   display: inline-block;
   -webkit-transform: scale(1.1); 
   -moz-transform: scale(1.1);
   -o-transform: scale(1.1); 
   transform: scale(1.1);
}

 .mc_embed_signup {
    clear: left;
    border-radius: 0.3rem;
    width: 30rem;
 }

 /* Allauth form formatting */
 .allauth-form-inner-content {
    border-radius: 0.3rem;
 }

 .allauth-form-inner-content h2 {
    text-align: center;
}

.allauth-form-inner-content p {
    color: #000;
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0.3rem;
    margin: 0.4rem 0;
}

.allauth-form-inner-content input:not([type='submit']) {
    width: 100%;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

#id_remember {
    width: auto;
}

.form-check-label {
    padding-left: 0.9rem;
}

.form-check {
    padding: 0;
}

.allauth-form-inner-content input::placeholder {
    color: #A9A6A4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: bold;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: 0.3rem;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
    background-color: #414141;
    border-color: #414141;
}

.allauth-form-inner-content a {
    font-weight: bold;
	color: #2c3c5c;;
}
 
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .main-container {
        padding-top: 176px;
    }
}

/* Jumbotron text size on medium and down */
@media (max-width: 992px) {
    .h1, h1 {
        font-size: 2rem;
    }
}

/* Allauth container adjustment for devices with small screen height*/
@media (max-height: 650px) {
    .main-container {
        height: auto;
        margin-bottom: 10rem;
      
    }
}
