html {
    height: 100%;
    
}

body {
    background: url('/media/coffee.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #E9EBEC;
    font-family: 'Bungee+Shade';
}

.front-container {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
}

.jumbotron {
    background-color: #A9A6A4;
}