@import url('https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap');

/* Css for the summernote widget*/
.note-editable {
    font-family: 'Bungee+Shade', serif;
    font-size: 1rem;
    text-align: left;
}