<!-- Footer-->
<footer class="text-black">
  <div class="container-fluid text-center">
    <div class="row pt-2">
       <!-- Social media-->
      <div class="col-12 col-lg-4">
       <h5>Check our page on social media!</h5>
          <a
            class="px-3 text-black social-links"
            href="https://facebook.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            aria-label="Click to open Facebook page"
            ><i class="fa-brands fa-facebook fa-3x"></i
          ></a>
          <a
            class="px-3 text-black social-links"
            href="https://www.instagram.com"
            target="_blank"
            rel="noopener noreferrer nofollow"
            aria-label="Click to open Instagram"
            ><i class="fa-brands fa-instagram fa-3x"></i
          ></a>
          <a
            class="px-3 text-black social-links"
            href="https://www.youtube.com"
            target="_blank"
            rel="noopener noreferrer nofollow"
            aria-label="Click to open Youtube"
            ><i class="fa-brands fa-youtube fa-3x"></i
          ></a>
        </div>
        <!-- Privacy policy-->
        <div class="col-12 col-lg-4">
            <a
            class="text-black social-links text-decoration-none"
            href=""
            target="_blank"
            rel="noopener noreferrer nofollow"
            aria-label="Click to see Privacy policy"
            ><h5>Privacy policy</h5></a
            >
        </div>
        <!-- Newsletter-->
        <div class="col-12 col-lg-4"></div>
        </div>
      
    </div>
   <!-- Disclaimer-->  
  <div class="container-fluid text-center mt-3">
    <div class="row">
      <div class="col-12 text-center">
        <p>This site is for educational purposes only</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <a
          class="text-black social-links text-decoration-none"
          href="https://github.com/petrugio/petrugio-s-coffee"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="Click to see author's github"
          ><i class="fa-brands fa-github"></i> Petru Chelban 2022</a
        >
      </div>
    </div>
  </div>
</footer>
