<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <strong class="pl-2">Display products</strong>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                <a href="{% url 'products' %}" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}" class="dropdown-item ">By Category</a>
                <div class="dropdown-divider"></div>
                <strong class="pl-2">Brewing method</strong>
                <a href="{% url 'products' %}" class="dropdown-item">Coffee Beans</a>
                <a href="{% url 'products' %}" class="dropdown-item ">Ground coffee</a>
                <a href="{% url 'products' %}" class="dropdown-item ">Instant coffee</a>
                <a href="{% url 'products' %}" class="dropdown-item">Cappuccino</a>
                <div class="dropdown-divider"></div>
                <strong class="pl-2">Intensity</strong>
                <a href="{% url 'products' %}" class="dropdown-item">Mild</a>
                <a href="{% url 'products' %}" class="dropdown-item ">Medium</a>
                <a href="{% url 'products' %}" class="dropdown-item ">Strong</a>
                <a href="{% url 'products' %}" class="dropdown-item">Intense</a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black  mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Deals
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Specials</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="blog">
            Blog
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="testimonials">
            Testimonials
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="contact">
            Contact
            </a>
        </li>
    </ul>
</div> 