{% extends "base.html" %}
{% load static %}

<!-- Code block for displaying current site's sub-page -->
{% block extra_title %}| {{ product.name }}{% endblock %}

<!-- Code block for displaying the product detail page -->
{% block content %}
    <div class="container-fluid main-container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5 p-3 bg-white">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-0"><strong>{{ product.name }}</strong></p>
                    <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                    <div class="col-12 text-center">
                        {% if request.user.is_superuser %}
                            <small class="p-1 color-btn">
                                <a id="color-btn-det" href="{% url 'edit_product' product.id %}">Edit</a> | 
                                <a id="color-btn-ed" href="{% url 'delete_product' product.id %}">Delete</a>
                            </small>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex justify-content-between pt-2">
                                {% if product.weight %}
                                    <small>Weight: {{ product.weight }}</small>
                                {% else %}
                                    <small">No Weight</small>
                                {% endif %}
                                {% if product.category %}
                                    <p class="small">
                                        <a class="color-brown" href="{% url 'products' %}?category={{ product.category.name }}">
                                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                        </a>
                                    </p>
                                {% endif %}
                                {% if product.rating %}
                                    <small><i class="fas fa-star mr-1"></i>{{ product.rating }}/5</small>
                                {% else %}
                                    <small>No Rating</small>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <p class="mt-3">{{ product.description }}</p>
                    <form class="form" action="{% url 'add_to_basket' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group input-group-{{ product.id }}">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-black rounded decrement-qty_{{ product.id }}" 
                                                data-item_id="{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input id_qty_{{ product.id }}" type="number"
                                            name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-black rounded increment-qty_{{ product.id }}"
                                                data-item_id="{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn btn-black rounded text-uppercase mt-5" value="Add to Basket">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 

<!-- JS code for managing quantity input form on the product detail page -->
{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %} 
{% endblock %} 